.wrapper {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-gap: 20px;
  grid-auto-rows: minmax(100px, auto);
  background-color: white;
  /* justify-content: space-evenly; */
  /* align-content: center; */
}

.wrapper > div {
  font-size: 20px;
}

.tile {
  padding: 10px 0px;
  border: 30px;
  border-color: black;
  margin: 0px;
  width: 200px;
  height: 250px;
  font-size: 36;
  color: blue;
  background-color: chocolate;
  display: inline-block;
}

.tile:hover {
  background: grey;
}

.tileImage {
  width: 150px;
}

.tile01 {
  background-color: blueviolet;
  /* padding: 12pt 24pt 12pt 24pt; */
}
.tile02 {
  background-color: red;
}
.tile03 {
  background-color: green;
}
.tile04 {
  background-color: yellow;
}
.tile05 {
  background-color: orange;
}
.tile06 {
  background-color: magenta;
}
.tile07 {
  background-color: chartreuse;
}
.tile08 {
  background-color: brown;
}
