.red {
  font-size: 25px;
  background-color: red;
  color: white;
  padding: 20px;
}

.green {
  font-size: 25px;
  background-color: lightgreen;
  color: black;
  padding: 20px;
}

.blue {
  font-size: 25px;
  background-color: blue;
  color: white;
  padding: 20px;
}

.grey {
  font-size: 25px;
  background-color: lightgrey;
  color: black;
  display: -webkit-box;
  padding: 20px;
}

.buttonRow {
  display: flex;
  flex-direction: row;
}

.container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.container1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.container2 {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr;
}

.buttonRow {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 200px;
}
